* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000d;
}

.world {
  display: grid;
}

.node {
  --size: 20px;
  width: var(--size);
  height: var(--size);
  
  img {
    width: 100%;
  }

  .variantsBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2px;
    width: inherit;
    height: inherit;
    border: 1px solid white;
  }

  position: relative;
  p {
    font-size: .5rem;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bold;
    color: orange;
  }
}
